<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<!-- 整合Thymeleaf-->

<body>


<table border="1">
    <tr>
        <td>ID</td>
        <td>姓名</td>
        <td>性别</td>
    </tr>



    <tr th:each="stu :  ${pageInfo.list}">
        <td th:text="${stu.id}"></td>
        <td th:text="${stu.studentName}"></td>
        <td th:text="${stu.sex}"></td>
        <td><a th:href="@{/del(id=${stu.id})}">删除</a></td>
    </tr>


</table>
<a th:href="@{/show(page=${pageInfo.prePage},rows=3)}">上一页</a>     <a th:href="@{/show(page=${pageInfo.nextPage},rows=3)}">下一页</a>

</body>
</html>